{% extends "layout.twig" %}

{% block content %}

    <h1>Me contacter</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolor porro nisi eum earum doloremque cumque maiores consequatur amet
         accusamus cupiditate! Atque dolorem, libero nisi molestias placeat 
         accusamus necessitatibus nam autem.</p>

{% endblock %}